



.title{
    width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(216, 216, 232);
  border-radius: 20px;
  border: 1px solid;
  border-color: rgb(0, 0, 253);
  margin-bottom: 2px;
}

.container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    background: rgb(216, 216, 232);
    border-radius: 20px;
    border: 1px solid;
    border-color: rgb(0, 0, 253);
    margin-bottom: 50px;

}

.primaryCard{
    display: flex;
    justify-content: center;
}